# Gemini
GEMINI_BASE_URL=https://gemini.oikpig.top
GEMINI_LIVE_WS_URL=https://geminiv.oikpig.top
VITE_GEMINI_API_KEY=
VITE_GEMINI_BASE_URL=https://gemini.oikpig.top
VITE_GEMINI_LIVE_WS_URL=https://geminiv.oikpig.top

# Qwen
VITE_ALIYUN_API_KEY=
VITE_ALIYUN_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions

# MiMo
VITE_MIMO_API_KEY=
VITE_MIMO_API_URL=https://api.xiaomimimo.com/v1/chat/completions
